.bg-certificate-capstone {
  background-image: url('../assets/Certificati/CapstonProject.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-certificate-digitalcomp {
  background-image: url('../assets/Certificati/Digitalcomp.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-certificate-formatemp1 {
  background-image: url('../assets/Certificati/Certificato-Formatemp_Frontend.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-certificate-chatgpt {
  background-image: url('../assets/Certificati/Certificato_ChatGpt_Leoncini_libanio.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-certificate-freecodecamp {
  background-image: url('../assets/Certificati/freecodecamp.org_certification_lleo93_responsive-web-design.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-certificate-big-digitalcomp {
  background-image: url('../assets/Certificati/Digitalcomp.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-certificate-big-formatemp1 {
  background-image: url('../assets/Certificati/Certificato-Formatemp_Frontend.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-certificate-big-chatgpt {
  background-image: url('../assets/Certificati/Certificato_ChatGpt_Leoncini_libanio.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-certificate-big-freecodecamp {
  background-image: url('../assets/Certificati/freecodecamp.org_certification_lleo93_responsive-web-design.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
