.bg-project-A {
  background-image: url('../assets/icons/spotifyimmagine.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #121212;
}

.bg-project-B {
  background-image: url('../assets/icons/coming soon.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-certificate-capstone {
  background-image: url('../assets/Certificati/CapstonProject.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.spotify-img {
  background-image: url('../assets/Progetti/Spotify.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pixelpals {
  background-image: url('../assets/Progetti/Pixelpas.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #121212;
}
