/*(Chrome, Safari, Edge) */

/* Stile per l'intera scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/*parte mobile*/
::-webkit-scrollbar-thumb {
  background-color: #06b6d4;
  border-radius: 5px;
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0891b2;
}

/*Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: #06b6d4 transparent;
}
